<header>
  <h1>Honey</h1>

  <login-buttons></login-buttons>

  <form class="new-task" ng-submit="$ctrl.addTask($ctrl.newTask)" ng-show="$ctrl.currentUser">
    <input ng-model="$ctrl.newTask" type="text" name="text" placeholder="Type to add new tasks"/>
  </form>
</header>
 
<ul>
  <li class="bug-list-item" ng-repeat="task in $ctrl.tasks" ng-class="{'checked': task.checked, 'private': task.private}">
    <button class="delete" ng-click="$ctrl.removeTask(task)">&times;</button>
 
    <button class="upvote" ng-click="$ctrl.upvote(task)"> Upvote </button>
 
    <span class="text">
      <strong>{{task.username}}</strong> - {{task.text}} <strong> {{task.points}} Points </strong>
    </span>

    <button class="toggle-private" ng-click="$ctrl.setPrivate(task)" ng-show="task.owner === $ctrl.currentUser._id">
      {{task.private == true ? "Private" : "Public"}}
    </button>
</ul>