{{#section 'head'}}
<link href="/css/rustic.css" rel="stylesheet" />
{{/section}}

<header></header>
<div class="leftBar sideBar"></div>
<div class="centerBar"></div>
<div class="rightBar sideBar"></div>