<h1>Trevor Wilson</h1>
<p>Hi I'm Trevor. I like programming. Java and PHP are my strong suits, but I like learning a little bit of everything (and using the best tool for the job), so I have a bit of experience in most popular languages.</p>
<p>Outside of programming, I love writing (except about myself), cars (especially Miatas), and sports (and weight lifting, since that's not really a sport) </p>
<p>I sometimes get too ambitious when it comes to programming projects, often starting things and then getting distracted by a new technology and project. <a href="https://github.com/Treevs">My GitHub</a> is a testament to that.</p>

<h2>Treevs' Lab</h2>
<p>The idea of a "Labs" section of a website where I can show off beta versions of what I'm working on always appealed to me.</p>

<h3><a class="no-underline" href="/planned">Micro Event Planner</a></h3>
<p>This will hopefully be a sort of <a href="https://www.meetup.com/">Meetup.com</a> for one off events. I'm only really adding this here because I accidentally committed it to my repo online and the cat's out of the bag already.</p>

