<!DOCTYPE html>
<html>
<head>
    <link href="/css/styles.css" rel="stylesheet" />
    <meta charset="utf-8">
    <title>Honey</title>
    {{{_sections.head}}}
</head>
<body>
 
    {{{body}}}
 
</body>
</html>